



			#confirmation_col_1 {
				width: 49%;
				float: left;
			}
			#confirmation_col_1 h3 {
				color: #333;
			}
			#confirmation_col_1 p.thank_you {
				color: #333;
			}
			#confirmation_col_1 .not_a_ticket {
				color: #666;
			}
			#confirmation_res_info {
				color: #333;
			}
			#confirmation_res_info p {
				margin: 0px;
				font-size: 100%;
			}
			#confirmation_col_2 {
				width: 50%;
				float: left;
			}
			#bar_code {
				display: block;
				width: 140px;
				height: 130px;
			}
			#confirmation_col_1 .travel_faqs {
				display: block;
				clear: both;
				margin-left: 0;
				margin-right: 0;
			}
			#print_icon {
				display: none;
			}
			.offset_travel, #carbon_offset {
				display: none;
			}
	



















































































